<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>card-Info</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script type="text/javascript">
	function ValidateCreditCardNumber() {

		var ccNum = document.getElementById("cardNum").value;
		ccNum = ccNum.replace(/[ -]/g, '');

		var visaRegEx = /^(?:4[0-9]{12}(?:[0-9]{3})?)$/;
		var mastercardRegEx = /^(?:5[1-5][0-9]{14})$/;
		var amexpRegEx = /^(?:3[47][0-9]{13})$/;
		var discovRegEx = /^(?:6(?:011|5[0-9][0-9])[0-9]{12})$/;

		/*
		 if (visaRegEx.test(ccNum) === false) { // Visa validation
		 alert("Please provide a valid Visa number!");
		 } else {
		 alert("Thank You!");
		 }

		 if (mastercardRegEx.test(ccNum) === false) { // MasterCard validation
		 alert("Please provide a valid MasterCard number!");
		 } else {
		 alert("Thank You!");
		 }
		 */
		if (amexpRegEx.test(ccNum) === false) { // Amex  validation
			alert("Not a valid America Express number!");
		} else {
			alert("Thank You!");
		}
		/*
		 if (discovRegEx.test(ccNum) === false) { // Discover validation
		 alert("Please provide a valid Discover number!");
		 } else {
		 alert("Thank You!");
		 }
		 */
	}
</script>
</head>
<body>
	<div class="navbar navbar-expand-lg bg-dark row">

		<div align="left" class="col-lg-8">
			<p style="color: blue">
				Hello <span th:text="${session.eMail}"></span>
			</p>
		</div>
		<div align="right" class="col-lg-4">
			<a href="/logout" style="text-align: right">Logout</a>
		</div>

	</div>
	<form action="#" th:action="@{/add/card}" method="post"
		th:object="${Card}" class="needs-validation" novalidate>
		<div align="center" class="container-fluid">

			<br> <br>
			<!-- 
				<a href="/register">Click me to register</a>
			-->

			<div class="row">
				<div class="col-lg-3"></div>
				<div align="left" class="col-lg-2">
					<label>Bank Name : </label>
				</div>
				<div align="left" class="col-lg-3">
					<input th:field="*{bankName}" type="text" class="form-control"
						placeholder="Enter Bank Name" name="bankName" id="bankName"
						size="30" value="" required="required" />
				</div>
				<div class="col-lg-3"></div>
			</div>
			<br>
			<div class="row">
				<div class="col-lg-3"></div>
				<div align="left" class="col-lg-2">
					<label>Credit Card Number : </label>
				</div>
				<div align="left" class="col-lg-3">
					<input th:field="*{cardNumber}" type="text" class="form-control"
						placeholder="Card Number (eg xxxx-xxxx-xxxx-xxx)"
						name="cardNumber" id="cardNum" size="30" value=""
						onblur="ValidateCreditCardNumber()" required="required" />
				</div>
				<div class="col-lg-3"></div>
			</div>
			<br>
			<div class="row">
				<div class="col-lg-3"></div>
				<div align="left" class="col-lg-2">
					<label>Expiration Date :</label>
				</div>
				<div align="left" class="col-lg-1">
					<select th:field="*{expiryMonth}" class="form-control" id="month"
						name="month">
						<option value="0">Jan</option>
						<option value="1">Feb</option>
						<option value="2">Mar</option>
						<option value="3">Apr</option>
						<option value="4">May</option>
						<option value="5">Jun</option>
						<option value="6">Jul</option>
						<option value="7">Aug</option>
						<option value="8">Sep</option>
						<option value="9">Oct</option>
						<option value="10">Nov</option>
						<option value="11">Dec</option>
					</select>
					<!-- 
					<input th:value="${Card.expirationDate}" class="form-control"
						type="month" name="expirationDate" id="eDate" value="2020-06"
						size="10" pattern="[0-9]{4}-[0-9]{2}" required="required" />
					-->
				</div>
				<div class="col-lg-2">
					<select th:field="*{expiryYear}" class="form-control" id="year"
						name="year">
						<option th:each="i : *{year}" th:value="${i}" th:text="${i}">
					</select>
				</div>
				<div align="right" class="col-lg-3"></div>
			</div>
			<br>
			<div class="row">
				<div class="col-lg-4"></div>
				<div class="col-lg-2">
					<button type="submit" class="btn btn-primary">Add Card</button>
				</div>

				<div align="left" class="col-lg-2">
					<button type="button" class="btn btn-primary">Show/Hide File Upload</button>
				</div>
				<div class="col-lg-4"></div>
			</div>
		</div>
	</form>
	<br>

	<div align="center" class="contaier">
		<table class="table table-dark table-hover" style="width: 800px">
			<thead>
				<tr align="center" style="color: blue">
					<th>Bank</th>
					<th>Card Number</th>
					<th>Expiry Date</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="row : ${session.cardMap}">
					<!-- <tr align="center" th:each="card,  myCard:${session.cardList}">  
					
						<td th:text="${card.bankName}"></td>
						<td th:text="${card.encCardNumber}"></td>
						<td th:text="${card.expiryDate}"></td>
					-->
					<tr align="center" th:each="card : ${row.value}">
					<td th:text="${card.bankName}">bankName</td>
					<td th:text="${card.encCardNumber}">cardNumber</td>
					<td th:text="${card.expiryDate}">expiryDate</td>
					</tr>
				</th:block>
			</tbody>
			</div>

			<!--  
	<div class="container">
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-1"></div>
			<div class="col-lg-8">
				<div class="card" style="width: 400px">
					<div class="card-body">
						<div class="row">
							<div align="right" class="col-sm-5">
								<label>Bank Name :</label>
							</div>
							<div class="col-sm-7">
								<input class="form-control" type="text"
									placeholder="Enter Bank Name" name="bankName" id="bankName"
									value="" required="required" />
							</div>
						</div>

						<br>
						<div class="row">
							<div align="right" class="col-sm-5">
								<label>Card Number :</label>
							</div>
							<div class="col-sm-7">
								<input class="form-control" type="text"
									placeholder="Card Number (eg xxxx-xxxx-xxxx-xxx)"
									name="cardNumber" id="cardNum" value=""
									onblur="ValidateCreditCardNumber()" required="required" />
							</div>
						</div>
						<br>
						<div class="row">
							<div align="right" class="col-sm-5">
								<label>Expiration Date :</label>
							</div>
							<div class="col-sm-7">
								<input class="form-control" type="month" name="expirationDate"
									id="eDate" value="2020-06">
							</div>
						</div>
						<br>
						<div class="row">
							<div align="center" class="col-sm-12	">
							<button type="submit" class="btn btn-primary">Add Card</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
-->
</body>
</html>